header{
    background-color: skyblue;
    padding: 20px;
}

body  {
  background-image: url("../images/background.jpeg");
  background-color: #cccccc;
  font-family : 'Roboto', sans-serif;
  margin: 0px 0px 0px 0px;
}

main{
    background-color: cornsilk;
}
nav{
    background-color: rgb(228, 254, 255);
    text-align: center;
}

footer{
    background-color: thistle;
    text-align: center;
}

footer .icon{
    width: 20px;
    height: 20px;
}


.intro{
    padding: 0px 0px 0px 10px;
}
.courses{
    width: 80%;
}
.copyright{
    font-size: medium;
    color: #1d1c1c;
}

.neuImage {
    width: 100px;
    height: 100px;
    padding: 10px 0px 0px 100px;
}

.profileImage {
    width: 200px;
    height: 200px; 
}

a { color: #ec1212; } 
a:hover { color: #041a04c4; } 
a:visited { color: #749e7e; }
